# Ambientes virtuales
venv/
.venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno (Secretos)
.env

# Notas de desarrollo
*devnotes.md

# Modelo BETO
beto_fakenews_model/